

body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding:0 20px;
    font-size: 24px;
}

.gallery h2 {
    margin: 30px 0;
    font-size: 22px;
    color: #333;
}

.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
    margin: auto;
    height: 220px;
    position: relative;
    background-color: white;
    padding: 0 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.scroll-content {
    display: inline-flex;
    gap: 10px;
    margin-top: 0;
    padding: 0;
}

.scroll-content img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 6s ease;
}

.scroll-content img:hover {
    transform: scale(1.1);
}

/* انیمیشن حرکت از راست به چپ */
.right-to-left .scroll-content {
    animation: scroll-right-to-left 12s linear infinite alternate;
}

@keyframes scroll-right-to-left {
    from { transform: translateX(10%); }
    to { transform: translateX(-10%); }
}

/* انیمیشن حرکت از چپ به راست */
.left-to-right .scroll-content {
    animation: scroll-left-to-right 12s linear infinite alternate;
}

@keyframes scroll-left-to-right {
    from { transform: translateX(-10%); }
    to { transform: translateX(10%); }
}
.button{
    background-color: #2c3e50;
    height: 65px;
    width: 180px;
    color: white;
    font-size: 18px;
    border-radius: 12px;
}


